
.widget-detail-video{padding:10px 0 16px}.widget-detail-video__title{margin:0;padding:8px 0;font-weight:700}.widget-detail-video__video-wrap{padding-top:12px;text-align:center}.widget-detail-video .bc-video-player .loading{margin:0}
